In [ ]:
# Задание:

# Ты аналитик в компании, занимающейся онлайн-продажей электроники. Твоя задача - построить анализ клиентских когорт, чтобы определить, как изменяется средний доход с клиента (LTV) в зависимости от времени его первого заказа.

# Описание данных:
# orders - таблица с информацией о заказах: order_id - уникальный идентификатор заказа customer_id - уникальный идентификатор клиента
# order_date - дата, когда заказ был создан order_amount - сумма заказа platform - платформа, через которую был сделан заказ (например, "mobile", "desktop") category - категория товара, который был заказан (например, "smartphones", "laptops")

# Задача: Напишите код, который выполнит следующие действия:

# Построй когортный анализ: выдели клиентов, совершившие первую покупку в март 2020, и вычисли размер каждой когорты. Рассчитай средний доход с клиента для каждой когорты за 10 дней с момента их первой покупки в январе 2020. Отобрази результаты по месяцам первых покупок, категориям товаров и платформам. Ожидаемый результат: Вывод должен включать следующие поля:

# Дата когорты (дата первой покупки клиента)
# Платформа 
# Категория товара 
# Размер когорты 
# Средний доход с клиента

In [59]:
import pandas as pd
import numpy as np

orders2 = pd.read_csv('orders.csv')
orders2['order_date'] = pd.to_datetime(orders2['order_date'], errors='coerce')

In [67]:
orders2.dtypes

order_id                     int64
customer_id                  int64
order_date          datetime64[ns]
order_amount               float64
platform                    object
category                    object
first_order_date    datetime64[ns]
delta_days                   int64
dtype: object

In [77]:
orders2[orders2['order_date'] == '2020-03-01'].count()

order_id            227
customer_id         227
order_date          227
order_amount        227
platform            227
category            227
first_order_date    227
delta_days          227
dtype: int64

In [61]:
first_order_df = orders2.groupby(['customer_id'], as_index=False).agg({'order_date': 'min'}).rename(columns={'order_date' : 'first_order_date'})
first_order_df

      customer_id first_order_date
0               1       2020-01-02
1               2       2020-01-05
2               3       2020-01-02
3               4       2020-01-01
4               5       2020-01-01
...           ...              ...
3634         3645       2020-12-30
3635         3647       2020-12-30
3636         3648       2020-12-30
3637         3649       2020-12-30
3638         3650       2020-12-30

[3639 rows x 2 columns]

In [62]:
orders2 = orders2.merge(first_order_df, on='customer_id')

In [66]:
orders2['delta_days'] = (orders2['order_date'] - orders2['first_order_date']).dt.days
orders_first_10_days = orders2[orders2['delta_days'] < 10]
orders_first_10_days

orders_first_10_days[orders_first_10_days['customer_id'] == 3]

,order_id,customer_id,order_date,order_amount,platform,category,first_order_date,delta_days
8,9,3,2020-01-02,4200.69,mobile,наушники,2020-01-02,0
9,10,3,2020-01-02,1812.47,mobile,наушники,2020-01-02,0
10,11,3,2020-01-02,2979.24,mobile,аксессуары,2020-01-02,0
11,12,3,2020-01-02,3093.81,desktop,телефоны,2020-01-02,0
30,31,3,2020-01-03,2108.25,desktop,телефоны,2020-01-02,1
31,32,3,2020-01-03,574.92,desktop,аккумуляторы,2020-01-02,1
55,56,3,2020-01-04,3513.42,mobile,аксессуары,2020-01-02,2
56,57,3,2020-01-04,849.65,mobile,телефоны,2020-01-02,2
90,91,3,2020-01-05,542.96,mobile,телефоны,2020-01-02,3
149,150,3,2020-01-06,4784.79,mobile,аккумуляторы,2020-01-02,4
150,151,3,2020-01-06,2546.95,desktop,аккумуляторы,2020-01-02,4
151,152,3,2020-01-06,1365.67,mobile,аккумуляторы,2020-01-02,4
152,153,3,2020-01-06,1977.38,mobile,телефоны,2020-01-02,4
211,212,3,2020-01-07,395.55,desktop,телефоны,2020-01-02,5
212,213,3,2020-01-07,4788.52,desktop,аккумуляторы,2020-01-02,5